<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y5x</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>
<body>
    <header><nav><a href="about/">about</a></nav></header>
    <main class="main--homepage">
        <div class="article-year-sets">
            {{ articles }}
        </div>
    </main>
    <footer>&copy; AGM</footer>
    <script src="assets/js/index.js"></script>
</body>
</html>